<!DOCTYPE html>
<html>
  <head>
    <title>Go RAIDERS!!!!</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
    <h1>The Oakland Raiders are 3 time Super Bowl CHAMPIONS!!!</h1>
		<div>
			<h5>Super Bowl XI - 32-14 vs. MIN<h5>
			<h5>Super Bowl XV - 27-10 vs. PHI<h5>
			<h5>Super Bowl XVIII - 38-9 vs. WSH<h5>
		</div>
  <body>
    <br/>
    <p>
        Just Win Baby!
    </p>
    <%= yield %>
  </body>
</html>
